<!DOCTYPE html>
<html>
  <head>
    <title>GitMatched</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">

    <style type="text/css">
      .avatar{
        max-width: 250px;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <h1>Gitmatched</h1>

      <form role="form" method="post" onsubmit="return false">
        <div class="form-group">
            <input type="text" class="form-control" name="location" placeholder="Enter location" required>
            <input type="text" class="form-control" name="language" placeholder="enter programming language" required>
        </div>
        <button type="submit" class="btn btn-primary">Find me a developer!</button>
        <button type="submit" class="btn btn-success" id="try-again">try a different locationn</button>
      </form>
      <br>

      <div id="results">
        
      </div>

    </div>
    <script src="{{ url_for('static', filename="jquery-1.11.0.min.js") }}"></script>
    <script src="{{ url_for('static', filename="main.js") }}"></script>
    <script src="{{ url_for('static', filename="bootstrap.min.js") }}"></script>
  </body>
</html>